/** Typography **/
/* General */
@font-face {
  font-family: "Awesome-Light";
  src: url(./font/Awesome-Light-Pro.ttf);
}
h1 {
  font-family: shrikhand;
  font-size: 1.9em;
}

h2,
h3,
p,
input {
  font-family: roboto;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
}

/* Header */
header a {
  font-size: 1.25em;
}
header a:hover {
  color: #9356DC;
}

/* Main */
/* Heart button */
button {
  font-size: 1.5em;
}
button i {
  transform: scale(0.94, 1);
}
button i:nth-child(2) {
  font-family: "Awesome-Light";
}

/* Menu article */
#menu h2 {
  font-family: shrikhand;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: -0.02em;
}
#menu h2::first-letter {
  text-transform: uppercase;
}
#menu h3 {
  text-transform: uppercase;
  font-weight: 400;
}
#menu span {
  font-family: roboto;
}
#menu span.dish {
  font-size: 1.2em;
  letter-spacing: -0.02em;
}
#menu span.dish, #menu span.price {
  font-weight: 700;
}
#menu span.detail, #menu span.price {
  letter-spacing: -0.03em;
}
#menu span.detail {
  word-spacing: -0.04em;
}
#menu span.detail::first-letter {
  text-transform: uppercase;
}

/* Search section */
#search-bar input {
  font-weight: 700;
}
#search p {
  font-size: 1.125em;
}

/* Functioning section */
#functioning span {
  font-family: roboto;
  font-size: 0.875em;
}
#functioning i {
  font-size: 1.1875em;
}
#functioning div:nth-child(2) i {
  transform: scale(1.04, 1);
}
#functioning div:nth-child(3) i {
  transform: scale(0.8, 1);
}
#functioning div:nth-child(4) i {
  transform: scale(0.79, 1);
}

/* Restaurants section */
#restaurants p.new {
  font-size: 0.875em;
  font-weight: 700;
}
#restaurants h3, #restaurants h3 + p {
  font-size: 1.125em;
}
#restaurants h3::first-letter {
  text-transform: uppercase;
}

/* Footer */
footer h2 {
  font-family: shrikhand;
  font-weight: 100;
  font-size: 1.1em;
  letter-spacing: 0.03em;
}
footer a {
  font-family: roboto;
  font-weight: 400;
}
footer i {
  font-size: 0.82em;
}

/** Text and background color **/
/* Main */
/* Heart button */
button {
  background-color: transparent;
  border: none;
}
button i:nth-child(1)::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Submit button */
input[type=submit] {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
input[type=submit]:hover {
  opacity: 0.8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* Menu article */
#menu {
  background-color: #F6F6F6;
}
#menu .dashed {
  background-color: #99E2D0;
}
#menu label {
  background-color: white;
}

/* Search section */
#search {
  background-color: #F6F6F6;
}
#search-bar, #search-bar input {
  background-color: #EAEAEA;
}
#search-bar, #search-bar input, #search p {
  color: #353535;
}
#search p {
  opacity: 0.8;
}

/* Functioning section */
#functioning div {
  background-color: #F6F6F6;
}
#functioning div:nth-child(4) {
  background-color: rgba(147, 86, 220, 0.1);
}
#functioning div:nth-child(4) i {
  color: #9356DC;
  opacity: 1;
}
#functioning span {
  background-color: #9356DC;
  color: white;
}
#functioning i {
  color: #353535;
  opacity: 0.7;
}

/* Restaurants section */
#restaurants {
  background-color: #F6F6F6;
}
#restaurants article {
  background-color: white;
}
#restaurants p.new {
  background-color: #99E2D0;
  color: #008766;
}

/* Footer */
footer {
  background-color: #353535;
}
footer h2, footer a {
  color: white;
}

/** Layout **/
/* Header */
header {
  padding-top: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
header a {
  position: absolute;
  top: 24px;
  left: 20px;
}
header h1 {
  text-align: center;
  margin-bottom: 5px;
}
header.menu-pages {
  box-shadow: none;
}

/* Main */
/* Heart button */
button {
  position: absolute;
  top: 35px;
  right: 30px;
}
button:hover i:nth-child(1) {
  opacity: 1;
}
button:hover i:nth-child(2) {
  opacity: 0;
}
button i:nth-child(1) {
  opacity: 0;
}
button i:nth-child(2) {
  position: absolute;
  top: 2px;
  right: 6px;
}

/* Banner */
#banner img {
  width: 110%;
  height: 255px;
  object-position: -20px top;
  object-fit: cover;
}

img#la_note_enchantee {
  width: 100%;
  object-position: center -96px;
}

img#le_delice_des_sens {
  width: 107%;
  object-position: -14px top;
}

/* Menu article */
#menu {
  position: relative;
  width: 100%;
  border-radius: 40px 40px 0 0;
  margin-top: -38px;
  padding-top: 30px;
  padding-bottom: 22px;
}
#menu h2, #menu fieldset {
  margin-left: 18px;
}
#menu h2 {
  margin-bottom: -20px;
}
#menu h3 {
  margin-top: 22px;
}
#menu .dashed {
  width: 40px;
  height: 3px;
  margin-top: 5px;
}
#menu fieldset {
  margin: 23px 15px;
}
#menu input[type=checkbox] {
  position: absolute;
  display: none;
}
#menu input[type=submit] {
  display: block;
  height: 50px;
  margin: 50px auto;
  padding: 0 50px;
  border: none;
  border-radius: 25px;
}
#menu label {
  display: block;
  position: relative;
  margin-top: 15px;
  padding: 11px 12px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#menu span {
  display: block;
}
#menu span.dish, #menu span.detail {
  max-width: 281px;
}
#menu span.detail {
  margin-top: 4px;
}
#menu span.price {
  position: absolute;
  right: 20px;
  bottom: 11px;
}

/* Search section */
#search {
  padding-bottom: 25px;
}
#search-bar {
  line-height: 50px;
  text-align: center;
}
#search-bar input {
  width: 135px;
  margin-left: 10px;
}
#search h2, #search p {
  text-align: center;
}
#search h2 {
  margin: 40px 60px 0;
}
#search p {
  margin: 15px 15px;
}
#search input {
  border: none;
}
#search input[type=submit] {
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 30px auto;
  padding: 0 20px;
  border-radius: 25px;
}

/* Funtioning section */
#functioning {
  padding: 25px 0 45px;
}
#functioning h2 {
  margin: 25px 20px;
}
#functioning div {
  line-height: 26px;
  margin: 25px 20px 25px 32px;
  padding: 23px 0;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#functioning span {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-right: 20px;
  text-align: center;
  border-radius: 12px;
}
#functioning i {
  width: 15px;
  text-align: left;
}
#functioning h3 {
  display: inline-block;
  margin-left: 20px;
}

/* Restaurants section */
#restaurants {
  padding-top: 25px;
  padding-bottom: 64px;
}
#restaurants h2 {
  margin: 20px 25px;
}
#restaurants article {
  position: relative;
  margin: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#restaurants img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  object-position: center bottom;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}
#restaurants article:nth-child(3) img {
  object-position: center -150px;
}
#restaurants h3 {
  margin-bottom: 4px;
}
#restaurants h3, #restaurants h3 + p {
  margin-left: 12px;
}
#restaurants p.new {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  padding: 7px 11px;
}
#restaurants button {
  top: 191px;
  right: 25px;
  padding: 0;
}
#restaurants i:nth-child(2) {
  top: 1px;
  right: 0;
}

/* Footer */
footer {
  padding: 20px 20px 35px;
}
footer h2 {
  margin-bottom: 5px;
}
footer a {
  text-decoration: none;
  line-height: 1.75em;
}
footer span {
  margin-left: 5px;
}

/*# sourceMappingURL=styles.css.map */
