/* Typography */
header h1 {
    font-family: shrikhand;
    font-size: 1.9em;
}
/* Layout */
header h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
img {
    width: 100%;
}