// Variables
// colors
$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #008766;
$fifth-color: #F6F6F6;
$sixth-color: #EAEAEA;
$seventh-color: #353535;
$eighth_color: white;
/* Typography */
header h1 {
    font-family: shrikhand;
    font-size: 1.9em;
}
#search {
    & input, 
    & h2, 
    & p {
        font-family: roboto;
    }
    &-bar input, 
    & h2 {
        font-weight: 700;
    }
    & h2 {
        font-size: 1.63em;
    }
    & p {
        font-size: 1.1em;
    }
}
/* Text and background color */
#search {
    background-color: $fifth-color;
    &-bar, 
    &-bar input {
        background-color: $sixth-color;
        color: $seventh-color;
    }
    & input[type="submit"] {
        background: linear-gradient($second-color, $first-color);
        color: $eighth_color;
        &:hover {
            opacity: 0.8;
        }
    }
}
/* Layout */
header {
    padding-top: 15px;
    box-shadow: 0 1px 10px rgba($color: black, $alpha: 0.4);
    & h1 {
        text-align: center;
        margin-bottom: 5px;
    }
}
#search {
    padding-bottom: 25px;
    &-bar {
        line-height: 50px;
        text-align: center;
        & input {
            width: 135px;
            margin-left: 10px;
        }
    }
    & h2, 
    & p {
        text-align: center;
    }
    & h2 {
        margin: 40px 60px 0;
    }
    & p {
        margin: 15px 15px;
    }
    & input {
        border: none;
    }
    & input[type="submit"] {
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 30px auto;
        padding: 0 20px;
        border-radius: 25px;
        box-shadow: 0 5px 10px rgba($color: black, $alpha: 0.4);
        &:hover {
            box-shadow: 0 5px 10px rgba($color: black, $alpha: 0.8);
        }
    }
}
img {
    width: 100%;
}