button {
    background-color: transparent;
    border: none;
    & i:nth-child(1)::before {
        background: -webkit-gradient(linear, left top, left bottom, from($first-color), to($second-color));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}