#menu {
    position: relative;
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin-top: -38px;
    padding-top: 30px;
    padding-bottom: 22px;
    & h2, 
    & fieldset {
        margin-left: 18px;
    }
    & h2 {
        margin-bottom: -20px;
    }
    & h3 {
        margin-top: 22px;
    }
    & .dashed {
        width: 40px;
        height: 3px;
        margin-top: 5px;
    }
    & fieldset {
        margin: 23px 15px;
    }
    & input[type="checkbox"] {
        position: absolute;
        display: none;
    }
    & input[type="submit"] {
        display: block;
        height: 50px;
        margin: 50px auto;
        padding: 0 50px;
        border: none;
        border-radius: 25px;
    }
    & label {
        display: block;
        position: relative;
        margin-top: 15px;
        padding: 11px 12px;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba($color: black, $alpha: 0.3);
    }
    & span {
        display: block;
        &.dish, 
        &.detail {
            max-width: 281px;
        }
        &.detail {
            margin-top: 4px;
        }
        &.price {
            position: absolute;
            right: 20px;
            bottom: 11px;
        }
    }
}