#menu {
    & h2 {
        font-family: shrikhand;
        font-size: 1.8em;
        font-weight: 400;
        letter-spacing: -0.02em;
    }
    & h2::first-letter {
        text-transform: uppercase;
    }
    & h3 {
        text-transform: uppercase;
        font-weight: 400;
    }
    & span {
        font-family: roboto;
        &.dish {
            font-size: 1.2em;
            letter-spacing: -0.02em;
        }
        &.dish, 
        &.price {
            font-weight: 700;
        }
        &.detail, 
        &.price {
            letter-spacing: -0.03em;
        }
        &.detail {
            word-spacing: -0.04em;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}