/** Buttons **/
/* Heart button */
button {
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    &:hover i:nth-child(1) {
        opacity: 1;
    }
    &:hover i:nth-child(2) {
        opacity: 0;
        transition: opacity 1700ms;
    }
    & i:nth-child(1) {
        position: absolute;
        opacity: 0;
        &::before {
            background: linear-gradient($second-color, $first-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
    }
    & i:nth-child(2) {
        position: absolute;
        opacity: 1;
        z-index: 2;
    }
    & .mask {
        width: 36px;
        height: 32px;
        position: absolute;
        right: -34px;
        bottom: -31px;
        background-color: $eighth-color;
        transform-origin: 50% 0;
        transform: scaleY(1);
        transition: transform 2000ms;
        z-index: 1;
    }
    &:hover .mask {
        transform: scaleY(0);
    }
}
/* Submit button */
input[type="submit"] {
    cursor: pointer;
    color: $eighth-color;
    background: linear-gradient($second-color, $first-color);
    @include component-shadow(rgba($color: $ninth-color, $alpha: 0.3));
    &:hover {
        opacity: 0.8;
        @include component-shadow(rgba($color: $ninth-color, $alpha: 0.6));
    }
}