#functioning {
    & div {
        background-color: $fifth-color;
    }
    & div:nth-child(4) {
        background-color: rgba($color: $first-color, $alpha: 0.1);
        & i {
            color: $first-color;
            opacity: 1.0;
        }
    }
    & span {
        background-color: $first-color;
        color: $eighth_color;
    }
    & i {
        color: $seventh-color;
        opacity: 0.7;
    }
}