#functioning {
    & span {
        font-family: roboto;
        font-size: 0.875em;
    }
    & i {
        font-size: 1.1875em;
    }

    & div:nth-child(2) i {
        transform: scale(1.04, 1);
    }
    & div:nth-child(3) i {
        transform: scale(0.8, 1);
    }
    & div:nth-child(4) i {
        transform: scale(0.79, 1);
    }
}