/** Footer **/
footer {
    padding: 20px 20px 35px;
    & h2 {
        margin-bottom: 5px;
    }
    & a {
    text-decoration: none;
    line-height: 1.75em;
    }
    & span {
        margin-left: 5px;
    }
}