/** Footer **/
footer {
    & h2 {
        font-family: shrikhand;
        font-weight: 100;
        font-size: 1.1em;
        letter-spacing: 0.03em;
    }
    & a {
        font-family: roboto;
        font-weight: 400;
    }
    & i {
        font-size: 0.82em;
    }
}