#search {
    background-color: $fifth-color;
    &-bar, 
    &-bar input {
        background-color: $sixth-color;
    }
    &-bar, 
    &-bar input,
    & p {
        color: $seventh-color;
    }
    & p {
        opacity: 0.8;
    }
}