#search {
    padding-bottom: 25px;
    &-bar {
        line-height: 50px;
        text-align: center;
        & input {
            width: 135px;
            margin-left: 10px;
        }
    }
    & h2, 
    & p {
        text-align: center;
    }
    & h2 {
        margin: 40px 60px 0;
    }
    & p {
        margin: 15px 15px;
    }
    & input {
        border: none;
    }
    & input[type="submit"] {
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 30px auto;
        padding: 0 20px;
        border-radius: 25px;
    }
}